@import "tailwindcss";

.yRemoteSelection {
  background-color: rgba(59, 130, 246, 0.25);
}

.yRemoteSelectionHead {
  position: absolute;
  border-left: 2px solid #3b82f6;
  border-top: 2px solid #3b82f6;
  border-bottom: 2px solid #3b82f6;
  height: 100%;
  box-sizing: border-box;
}

.yRemoteSelectionHead::after {
  position: absolute;
  content: attr(data-username);
  top: -20px;
  left: -2px;
  font-size: 12px;
  background-color: #3b82f6;
  color: white;
  padding: 2px 6px;
  border-radius: 6px;
  white-space: nowrap;
}